.appointment-container {
    /* margin-top: 100px; */
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.appointment-container h2 {
    color: #4CAF50;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.confirm-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.confirm-btn:hover {
    background-color: #45a049;
}
